/******	COLORS *********************************/
/****** FONTS *******************************/
/****  ELIMINATE DEFAULT LIST STYLING *********/
/* line 14, sass/main.scss */
ul {
  padding-left: 0px;
}

/* line 18, sass/main.scss */
li {
  list-style: none;
}
/* line 20, sass/main.scss */
li a {
  text-decoration: none;
  color: #dddddd;
}

/****** MOBILE STYLING **********************/
/* line 28, sass/main.scss */
body {
  font: Helevetica, sans-serif;
  background: #82a154;
  text-align: center;
}

/* line 34, sass/main.scss */
.header {
  color: #dddddd;
  font-size: 3em;
}

/* line 39, sass/main.scss */
.main {
  font-size: 1.5em;
  padding: 3% 10%;
  border-top: solid 12px #404f29;
  border-bottom: solid 12px #404f29;
}
/* line 45, sass/main.scss */
.main li {
  display: inline-block;
  margin: 20px 5px 20px 5px;
  width: 120px;
  height: 120px;
  border: solid 5px #4e6133;
  border-radius: 50%;
}
/* line 52, sass/main.scss */
.main li a img {
  width: 50px;
  height: 50px;
  padding: 35px 25px 25px 25px;
}

/* line 62, sass/main.scss */
.foot p {
  color: #4e6133;
}
/* line 65, sass/main.scss */
.foot li {
  padding: 0 5%;
  display: inline;
}
