/******	COLORS *********************************/
/****** FONTS *******************************/
/****  ELIMINATE DEFAULT LIST+LINK STYLINGS *********/
/* line 14, sass/main.scss */
ul {
  padding-left: 0px;
}

/* line 18, sass/main.scss */
li {
  list-style: none;
}

/* line 22, sass/main.scss */
a {
  text-decoration: none;
}

/****** MOBILE STYLING **********************/
/* line 28, sass/main.scss */
body {
  font: Helevetica, sans-serif;
  background: #82a154;
  text-align: center;
}

/* line 34, sass/main.scss */
.header {
  font-size: 3em;
}
/* line 36, sass/main.scss */
.header a {
  color: #dddddd;
}

/* line 41, sass/main.scss */
.nav li {
  display: inline;
  margin: 0 10px;
}
/* line 44, sass/main.scss */
.nav li a {
  font-size: 1.3em;
  color: #404f29;
}
/* line 48, sass/main.scss */
.nav li .selected {
  color: #dddddd;
}

/* line 54, sass/main.scss */
.main,
.gallery {
  font-size: 1.5em;
  background: #dddddd;
  border-top: solid 12px #404f29;
  border-bottom: solid 12px #404f29;
}
/* line 60, sass/main.scss */
.main a p,
.gallery a p {
  color: #404f29;
  margin-bottom: 0px;
  visibility: hidden;
}
/* line 66, sass/main.scss */
.main li,
.gallery li {
  display: inline-block;
  margin: 50px 20px;
  width: 120px;
  height: 120px;
  border: solid 5px #4e6133;
  border-radius: 50%;
}
/* line 75, sass/main.scss */
.main li:hover,
.gallery li:hover {
  background: #82a154;
  transition: background .8s;
}
/* line 78, sass/main.scss */
.main li:hover a p,
.gallery li:hover a p {
  display: block;
  visibility: visible;
  transition: visibility .2s;
}

/* line 86, sass/main.scss */
.main li a img {
  width: 50px;
  height: 50px;
  padding: 35px 25px 25px 25px;
}

/* line 92, sass/main.scss */
.gallery li a img {
  width: 120px;
  height: 120px;
  padding: 0px;
  border-radius: 50%;
}

/* line 101, sass/main.scss */
.foot p {
  color: #404f29;
}
/* line 104, sass/main.scss */
.foot li {
  padding: 0 5%;
  display: inline;
}
