/******	COLORS *********************************/

$backgroundColor: #82A154;
$darkTextColor: #4E6133;
$lightTextColor: #ddd;
$darkBorderColor: #404F29;


/****** FONTS *******************************/

$font-stack: Helevetica, sans-serif;

/****  ELIMINATE DEFAULT LIST STYLING *********/
ul {
	padding-left: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: $lightTextColor;
}

/****** MOBILE STYLING **********************/

body {
	font: $font-stack;
	background: $backgroundColor;
	text-align: center;
}

.header {
	color: $lightTextColor;
	font-size: 3em;
}

.main {
	font-size: 1.5em;
	background: $lightTextColor;
	padding: 3% 10%;
	border-top: solid 12px $darkBorderColor;
	border-bottom: solid 12px $darkBorderColor;

	li {
		display: inline-block;
		margin: 20px 5px 20px 5px;
		width: 120px;
		height: 120px;
		border: solid 5px $darkTextColor;
		border-radius: 50%;

		a img {
		width: 50px;
		height: 50px;
		padding: 35px 25px 25px 25px;
		}

		a:active {

		}
	}

	li:hover {
		background: $darkTextColor;
	}


}

.foot {
	p {
	color: $darkTextColor;
	}
	li {
	padding: 0 5%;
	display: inline;
	}
}
